form{
	text-align: center;
}

html,body{
	height: 100%;
	min-height: 100%;
	font-family: 'PT Sans', sans-serif;
}

body{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #607D8B;
}

.wrapper{
	background-size: 100%;
	height: 100vh;
	width: 100%;
	min-width: 950px;
	background-color: #4DC5C6;
}

.register_image{
	position: absolute;
	top: 70px;
	left: 50px;
	border:none;
}

.register_image img{
	margin-left: 60px;
    margin-top: 0px;
    width: 66%;

}

.login_box{
	position: relative;
    margin-right: 200px;
    margin-left: auto;
    top: 10%;
    width: 35%;
    background-color: #fff;
    border: 1px solid #c4eeec;
    border-radius: 8px;
    padding: 5px;
    padding-bottom: 10px;
    opacity: 0.85;
}

.login_header{
	width: 100%;
    height: 90px;
    background-color: #0f9394;
    color: #fff;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 1px solid #fff;
    margin-bottom: 6px;


}

.login_header h1{
	margin-top: 0;
    margin-bottom: 4px;
    color: #fff;
    padding-top: 8px;
    font-family: Franklin Gothic Heavy;
}

input[type="submit"]{
	/*background-color: #3498db;
	border:1px solid #3498db;
	border-radius: 3px;
	margin:5px 0 10px 0;
	padding:5px 10px 5px 10px;
	color: #024b7c; */
	background-color: #189b9c;
    border: 1px solid #189b9c;
    border-radius: 3px;
    margin: 5px 0 10px 0;
    color: #fff;
    padding: 6px 20px;
    width: 25%;
}

input[type="text"],input[type="email"],input[type="password"],select{
	border:1px solid #e5e5e5;
	border-radius: 5px;
	margin-top: 5px;
	width: 70%;
	height: 35px;
	margin-bottom: 10px;
	padding-left: 5px; 
}

input[type="text"]:hover,input[type="email"]:hover,input[type="password"]:hover,select:hover{
	border-color: #a5e9e3;  
}

#second{
	display: none;
}