body{
	line-height: 17px;
	background-color: #e7ecec;
	padding-top: 0px;
}

a{
	color: #000;
	text-decoration: none;
}

.top_bar{
	width:100%; 
	min-width: 1050px; /*to stop the size adjustability at 950px*/
	height:45px;
	background-color: #3cc2c3;
	border-bottom: 0.25em solid #d5f2ef;
	margin:0 0 10px 0;
	display: inline-flex; /*flex means flexible. but without putting inline it is block*/
	position: fixed;
	z-index: 10; /*to keep bar at top*/
	padding: 5px;
}

.logo a{
	margin-left: 25px;
	left: 200px;
	font-size: 150%;
	position:relative;
	top: 9px;
	text-shadow: #857d7d 0.5px 0.5px 0px;
	color: #fff;
}

a:hover{
	text-decoration: none;
}

nav{
	float: right;
	right: 210px;
	position: absolute;
	margin:10px;
}

nav a{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
	margin: 0 3px;
}

nav a:hover{
	border-bottom: 7px solid #e67e22;
	color: #FFFFFF;
}

.wrapper{
	
	top: 50px;
	position: relative;
	padding: 0 10px;
	width: 70%;
	min-width: 950px;
	margin:0 auto;

}

.column{
	background-color: #FFFFFF;
	padding: 10px;
	border:1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #d5f2ef;
	z-index: -1;
	color: #555;
	margin-top: 10px;
}

.user_details{
	width: 250px;
	float: left;
	margin-bottom: 20px;
}

.user_details_left_right{
	width: 120px;
	display: inline-table;
	position: absolute;
}

.user_details img{
	height:120px;
	border-radius: 5px;
	margin-right: 5px;
}

.main_column{
	float: right;
	width: 70%;
	z-index: -1;
	min-height: 170px;


}

.post_form{
	width: 100%;
}

.post_form textarea{
	width: 81%;
	height: 60px;
	border-radius: 3px;
	margin-right: 5px;
	border:1px solid #D3D3D3;
	font-size: 12px;
	padding: 5px;
}

textarea:focus{
	outline: 0;
} 

.post_form input[type="submit"]{
	width: 10%;
	height: 50px;
	border:none;
	border-radius: 5px;
	background-color: #29bdbe;
	color: #fff;
	text-shadow: #858582 0.5px 0.5px 0px;
	font-size: 93%;
	position: absolute;
	outline: 0;
	margin: 0;
	margin-left: 3px;
	margin-top: 3px;
}

.post_form input[type="submit"]:active{
	padding: 5px 4px 5px 4px;
}

.status_post{
	width: 96%;
	font-size: 15px;
	padding: 0px 5px;
	min-height: 75px;
	cursor: pointer;
}

.post_profile_pic{
	float:left;
	margin-right: 7px;
}

.post_profile_pic img{
	border-radius: 5px;
}

#comment_iframe{
	max-height: 250px;
	width: 100%;
	margin-top: 5px;
}

.comment_section{
	padding:0 5px 5px 5px;
}

.comment_section img{
	margin:0 3px 3px 3px;
	border-radius: 3px;
}

#comment_form textarea{
	border-color: #D3D3D3;
	width: 85%;
	height:35px;
	border-radius: 5px;
	color: #616060;
	font-size: 14px;
	margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"]{
	border:none;
	background-color: #29bdbe;
	color: #fff;
	border-radius: 5px;
	width: 13%;
	height: 35px;
	margin-top: 3px;
	position:absolute;
	text-shadow: #858582 0.5px 0.5px 0px;
}

.newsfeedPostOptions{
	padding:0px;
	text-decoration:none;
	color: #23766e;
	border:none; 
}

.newsfeedPostOptions iframe{
	border:0px;
	height:17px;
	width: 120px;
}


.comment_like{
	background-color: transparent;
	border:none;
	font-size: 14px;
	color:#23766e;
	padding:0;
	height:auto;
	width: auto;
	margin:0;
}

.like_value{
	display: inline;
	font-size: 14px;
}

.profile_left{
	top:60px;
	left: 220px;
	width:160px;
	min-width: 100px;
	height:100vh;
	float:left;
	position:fixed;
	background-color: #22a2a2;
	border-right:10px solid #d5f2ef;
	color:#fff;
	text-shadow:#f8f0ee 0.5px 0.5px 0px;
	margin-right:20px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.profile_left img{
	min-width: 80px;
	width: 55%;
	margin: 20px 30px;
	border:5px solid #B3D6FE;
	border-radius: 100px;
}

.profile_info{
	display:list-item;
	background-color: #038074;
	width:100%;
	padding:10px 0 10px 0;
}

.profile_info p{
	margin:0 0 0 20px;
	word-wrap: break-word;
}

.danger{
	background-color: #e74c3c;
}

.warning{
	background-color: #f0ad4e;
}

.default{
	background-color: #bdc3c7;
}

.success{
	background-color: #2ecc71;
}

.info{
	background-color: #29bdbe;
}

.deep_blue{
	background-color: #403e3e;
}

.profile_left input[type="submit"]{
	width:90%;
	height: 30px;
	border-radius: 5px;
	margin: 7px 0 0 7px;
	border:none;
	color:#fff;
	background-color: #075049;
}

#accept_button{
	width:20%;
	height:28px;
	border-radius: 5px;
	margin : 5px;
	border:none;
	color: #fff;
	background-color: #2ecc71;
}

#ignore_button{
	width:20%;
	height:28px;
	border-radius: 5px;
	margin : 5px;
	border:none;
	color: #fff;
	background-color: #e74c3c;
}

.delete_button{
	height:22px;
	width:22px;
	padding:0;
	float:right;
	border-radius: 4px;
	right: -15px;
	position: relative;
}

.profile_main_column{
	min-width: 675px;
	float: left;
	width: 80%;
	z-index: -1;
	margin-left: 400px;
}

.profile_info_bottom{
	margin: 10px 0 0 7px;
}

#message_textarea{
	width: 80%;
	margin-right: 8px;
	border-radius: 5px;
	border:1px solid #D3D3D3;
	font-size: 12px;
}

#message_submit{
	height:41px;
	width: 120px;
	margin: 0;
	position:absolute;	
	border:none;
	background-color: #20AAE5;
	color: #156588;
	border-radius: 5px;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
}

.message{
	border:1px solid #000;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
	color: #fff;
}

.message#blue{
	background-color: #3498db;
	border-color: #2980b9;
	float: right;
	margin-bottom: 4px;
	margin-right: 6px;
}

.message#green{
	background-color: #2ecc71;
	border-color: #27ae60;
	float: left;
	margin-bottom: 4px;
	margin-right: 6px;
}

.loaded_messages{
	height: 65%;
	min-height: 300px;
	max-height: 400px;
	overflow: scroll;
	margin-bottom: 10px;
}

.loaded_conversations{
	max-height: 216px;
	overflow: scroll;
}

.user_found_messages{
	border-bottom: 1px solid #D3D3D3;
	padding: 8px 8px 10px 8px;
}

.user_found_messages:hover{
	background-color: #D3D3D3;
}

.user_found_messages img{
	height:35px;
	float:left;
}

#grey{
	color:#8c8c8c;
}

.resultDisplay{
	padding:5px 5px 0 5px;
	height: 70px;
	border-bottom: 1px solid #D3D3D3;
}

.resultDisplay a{
	float: none;
}

.resultDisplay:hover{
	background-color: #EBEBEB;
	text-decoration: none;
}

.liveSearchProfilePic img{
	height: 50px;
	border-radius: 25px;
	margin: 1px 12px 0 2px;
	float: left;
}

.liveSearchText{
	background-color: transparent;
	color: #23766e;
}

.liveSearchText p{
	margin-left: 10px;
	font-size: 12px;
}

.tab-content{
	margin-top: 25px;
}

.dropdown_data_window{
	height: 280px;
	padding:0px;
	background-color: #fff;
	border:1px solid #DADADA;
	border-radius: 0 0 8px 8px;
	border-top: none;
	width: 300px;
	position: absolute;
	right: 10px;
	top: 40px;
	overflow: scroll;
}

.notification_badge{
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #F00;
	border-radius: 10px;
	position: absolute;
	left: 8px;
	top: -5px;
}

.resultDisplayNotification{
	height: auto;
	color: #1485BD;
	padding-bottom: 7px;
}

.resultDisplayNotification img{
	height: 40px;
	border-radius: 5px;
	margin: 1px 12px 0px 2px;
	float: left;
}

.timestamp_smaller{
	font-size: 85%;
	margin: 0; 
}

.search{
	margin: 5px 0 0 18%;

}

.search #search_text_input{
	border:thin solid #E5E5E5;
	border-radius: 4px;
	padding-left: 5px;
	float: left;
	height: 24px;
	outline:0;
	width: 100px;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}

.button_holder{
	background-color: #F1F1F1;
	border:thin solid #E5E5E5;
	margin-left: 1px;
	padding: 3px;
	cursor: pointer;
	float:left;
	height: 24px;
	text-align: center;
	width: 50px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.button_holder img{
	
	height: 19px;
	width: 18px;
}

.search_results{
	background-color: #fff;
	border:1px solid #DADADA;
	border-bottom: none;
	border-top: none;
	margin-top: 21px;
}

.search_results_footer{
	padding: 7px 4px 0px 4px;
	height: 30px;
	border:1px solid #DADADA;
	border-top: none;
	background-color: #3cc2c3;
	text-align: center;
}

.search_results_footer a{
	color: #fff;
}

.search_result {
	padding: 10px;
    height: 100px;
}

.searchPageFriendButtons {
	float: right;
}

.searchPageFriendButtons input[type="submit"] {
	border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
    width: 120px;
}

.result_profile_pic {
	float: left;
    margin-right: 10px;
}

#search_hr {
	margin-bottom: 0px;
}

.small_profile_pic {
	height: 70px;
    margin: 1px 12px 0 2px;
    float: left;
}

#settings_input {
	border: 1px solid #ccc;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
}

.settings_submit {
	border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
}

.message .deleteButton{
	color: #fff;
	margin: 0 5px 5px 0;
	cursor: pointer;
}

.postedImage img{
	max-height: 300px;
	max-width: 100%;
	display: block;
	margin: 5px auto;
}

input[type="file"]{
	margin-bottom: 3px;
}

.btn-danger {
    color: #000;
    background-color: #d9534f1f;
    border-color: #d43f3a;
}
